<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - cits5505</title>
      {% else %}
      <title>Welcome to puzzle</title>
      {% endif %}
      
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    </head>
    <body>
    <div class="bg">
   <ul>     

  <li><a href="/index">Homepage</a></li>  {% if current_user.is_anonymous %}
  <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
  <li><a href="{{ url_for('logout') }}">Logout</a><li>
        {% endif %}</a>
  <li><a href="/post">Message</a></li>
  <li> <a href="/shudu">Play Game</a></li>
  <li> <a href="rule">Rules</a></li>
    </ul>
        
        
        
        
        
        <div>
         {% if current_user.is_anonymous %}
         <h1>Please Login</h1>
         {% else %}
         <h1><b>Welcome!{{ current_user.username }}!</b></h1>
         {% endif %}
        </div>
        
        <hr>
        
        {% block content %}{% endblock %}
        
      </div>
    </body>
</html>
