<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Roger</title>
      {% else %}
      <title>Welcome to rogerpage</title>
      {% endif %}
    </head>
    <body>
    navigation bar:
        <div>Homepage: <a href="{{url_for('index')}}">Home</a></div>
        <div>Login: <a href="/login">Login</a></div>
        <div>Play game!: <a href="/game">Play</a></div>
        <div>How to Play <a href="/rule">rules</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
