<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Roger</title>
      {% else %}
      <title>Welcome to rogerpage</title>
      {% endif %}
    </head>
    <body>
    navigation bar:
        <div>Homepage: <a href="{{url_for('index')}}">Home</a></div>
        <div> 
        {% if current_user.is_anonymous %}
        Login: <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        Logout <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}</a>
        </div>
        <div>Play game!: <a href="/game">Play</a></div>
        <div>message <a href="/post">message</a></div>
        <div>How to Play <a href="/rule">rules</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
