{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 bg-warning">
        <table class="table table-striped">
  <caption>Rank</caption>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Record</th>
    </tr>
  </thead>
  
  <tbody>
  {% for oneline in rank_list %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ oneline.username }}</td>
      <td>{{ oneline.username }}</td>
    </tr>
 {% endfor %}
  </tbody>
</table>
      </div>
    </div>
</div>


{% endblock %}

