{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
</head>

<body>


    <div id="box">
        <div id="btnBox">
            <button id="easy">Easy</button>
            <button id="middle">Middle</button>
            <button id="hard">Hard</button>
        </div>
        <div id="clockBox">
                <span id="clock">00:00</span>
                <button id="check">Check</button>
                <span style="padding-left: 80px">Your best record：<b id="record"></b></span>
            </div>
        <div class="l l0">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l1">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l2">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l3">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l4">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l5">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l6">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l7">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
        <div class="l l8">
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
            <span><input readonly type="text"></span>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
   
   
    <div class="container">
   <div class="row" >
      <div class="col-xs-6 col-sm-3" 
         style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p><b>First please select the game difficulty mode, you can choose Easy mode, Middle mode, and Hard mode.</b></p>
      </div>
      
      <div class="col-xs-6 col-sm-3" 
         style="background-color: #97e6d6;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>When you choose the mode, the game will automatically generate. When you have filled in all the blanks, please click the check button</p>
      </div>
      
      <div class="col-xs-6 col-sm-3" 
         style="background-color: #adad78;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>And then the browser will pop up a popup and tell you if you're right.</p>
      </div>
      
      <div class="col-xs-6 col-sm-3" 
         style="background-color: #d4a9eb;box-shadow: 
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>if you exceed your historical record, it will update your score in the database.and show in the Rank 
         </p>
      </div>



    </div>
    </div>
   
</body>

</html>
{% endblock %}
